.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 760px;
  height: 100vh;
  margin: auto;
  color: #FFF;
}

section {
  display: flex;
  align-items: center;
}

.calculation-fields {
  display: flex;
  flex-direction: column;
  margin: 32px 0px;
  width: 100%;
}










