.button__main {

  button {
    border-radius: 50px;
    width: 173px;
    height: 67px;
    left: 1454px;
    top: 325px;

    background: $btnColorPrimary;
    border-radius: 50px;

    font-family: $fontRegular;
    font-size: 1.3rem;
  }

}