@import url('https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic');

* {
  font-family: roboto;
}

body {
  margin: 0;
  background: linear-gradient(
    116.58deg,
    #5a2782 0%,
    #7a1f9a 29.33%,
    #4939a7 60.02%,
    #0b7fb0 79.47%
  );
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header {
  display: inherit;
  flex-direction: column;
  align-items: center;
  padding-top: 45px;
  text-align: center;
}

header h1 {
  color: white;
  margin: 51px auto;
  font-weight: 600;
}

#form,
#result {
  width: 80%;
}

#form em {
  font-style: normal;
}

h2 {
  margin: 15px 0;
  font-weight: 500;
  color: white;
}

article {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px 120px;
}

input[type='number'] {
  display: block;
  padding-left: 20px;
  border: none;
  border-radius: 0 50px 50px 0;
  font-size: 28px;
  width: 200px;
}

label {
  border-radius: 50px 0 0 50px;
  font-size: 28px;
  background-color: #e5e2e9;
  padding: 20px;
  color: #595066;
}

i {
  border: 2px solid white;
  border-radius: 100%;
  color: white;
  padding: 4px 7px;
}

article div span {
  display: flex;
}

article div span:last-child {
  padding: 12px 0;
  color: white;
  font-style: normal;
  align-items: center;
  gap: 0 5px;
}

.icon1 {
  height: 30px;
  margin-right: 10px;
}

#dependentes {
  height: 73px;
  border-radius: 50px;
  width: 49px !important;
  padding: 0 45px;
}

#decrement,
#increment {
  border: none;
  background-color: transparent;
}

#calcular {
  display: flex;
  align-items: center;
}

#calcular button {
  height: 73px;
  border: none;
  border-radius: 50px;
  width: 173px;
  padding: 0 45px;
  background-color: #71ffa0;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
}

#result {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0 20px;
  margin-top: 30px;
}

#result > div {
  height: 134px;
  width: 401px;
  background-image: url('../assets/bg.svg');
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;
}

#result > h1 {
  font-size: 36px;
  font-weight: 300;
  color: white;
}

#result > div > p {
  color: #71ffa0;
  font-size: 48px;
  font-weight: 600;
}

#bill {
  margin: 73px 0;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 336px;
}

#bill > h3 {
  font-size: 24px;
}

#bill > div {
  width: 100%;
  display: flex;
  flex-direction: column;
}

#bill span {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

#bill > hr {
  width: 100%;
}

@media screen and (max-width: 900px) {
  form > div {
    width: 300px;
  }

  form > div > span {
    justify-content: center;
  }

  #calcular {
    display: flex;
    justify-content: center;
  }

  #result {
    flex-direction: column;
  }
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
