#main-page{
    background-image: linear-gradient(116.58deg, #5A2782 0%, #7A1F9A 29.33%, #4939A7 60.02%, #0B7FB0 79.47%);
    position: relative;
    height: 100vh;
    width: 100vw;
    color: white;
    font-weight: 500
   }