.total__container {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  // Seu salario liquido sera - image
  .total__title-resume {

    display: flex;
    flex-direction: row;
    align-items: center;

    // left: 989px;
    // top: 493px;

    h1 {
      font-family: $fontLight;
      color: $branco;
      font-size: 2rem;
      // text spacing
      letter-spacing: 1.2px;
    }

    .total__title-total {
      position: relative;
      text-align: center;
      img {
        width: 350px;
        height: 130px;
        margin-left: 1rem;
      }

      .total__title-totaltext {
        display: flex;
        align-items: center;

        color: $btnColorPrimary;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        h3 {
          font-size: 1.5rem;
          margin-right: 0.7rem;
        }

        h2 {
          font-size: 3.2rem;
        }
        
      }
    }
  }

  // Como o calculo e feito?
  .total__title-complete {
    margin: 5rem;
    color: $branco;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
      font-size: 20px;
      margin-bottom: 1.5rem;
    }

    
    div {

      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 1rem;
      width: 390px;

      hr {
        width: 100%;
        border: 1px solid $branco;
        margin-top: 1rem;
        margin-bottom: 1rem;
      }

      div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        p {
          font-size: 1.5rem;
          letter-spacing: -0.5px;
        }
      }
    }

    
    
    }}