@import 'variaveis.scss';

* {
  font-family: $fontRegular;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

body {
  width: auto;
  height: 1406px;
  background: linear-gradient(116.58deg, #5A2782 0%, #7A1F9A 29.33%, #4939A7 60.02%, #0B7FB0 79.47%);

}

// Importando fonts
@import '../public/fonts/fonts.scss';

// Estilos dos componentes Header
@import '../components/Header/header.scss';

// Estilos dos componentes InputContainer
@import '../components/InputContainer/InputElement/input.scss';
@import '../components/InputContainer/SelectDependent/select.scss';
@import '../components/InputContainer/ButtonCalculator/button.scss';
@import '../components/InputContainer/inputcontainer.scss';
