$fontRegular: 'Biennale Regular';
$fontBold: 'Biennale Bold';
$fontLight: 'Biennale Light';

$corPrimaria: #5E49FF;
$corPrimaria2: #25cbd3;
$corPrimaria3: #f0f5ff;


$cinza: #F4F4F4;
$cinza1: #DADADA;
$cinza2: #7C7786;
$cinza3: #4D4C4D;
$cinza4: #333333;

$branco: #eeebeb;

$desktopBreakpoint: 992px;
$tabletBreakpoint: 768px;
$mobileBreakpoint: 576px;

